
body {
      background-color: #f3741b;
      color: white;
      font-family: 'Montserrat', sans-serif;
}
h1 {font-size: 38px;
    font-weight: bold;}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f3741b;
  padding: 25px 140px;
}

.wrap-logo {
  display: flex;
  align-items: center;

}

header a {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 800
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #FBC02D;
  color: #db545a;

}


nav {
  display: flex;
  align-items: center;
  }

.carousel-item { height: 600px;


}
.item, img { position: absolute;
             object-fit: hover;
             height: 80%;
             width: 60%;
             margin-left: auto;
             margin-right: auto;
             }

img {width: 800px;
     height: 600px;}

.carousel-inner {height: 80%;
             width: 60%;
             margin-left: auto;
             margin-right: auto;
            }
.carousel-control-prev, .carousel-control-next {
             width: 50%;
             margin-left: auto;
             margin-right: auto;}


footer {
	margin: 225px auto 0;
	height: 100px;
	position: relative;
	background-color: #f3741b;
	text-align: center;
	padding: 2em;
}